#settergap-submit-number {
    form {
        label {
            font-family: var(--montserrat);
            font-size: 16px;
            font-weight: 600;
            line-height: 22.08px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        input {
            border-radius: 8px;
            background-color: #9FB3C10D;
        }
        input::placeholder {
            font-family: var(--montserrat);
            font-size: 14px;
            font-weight: 500;
            line-height: 17.07px;
            letter-spacing: 0.016em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }

    }
}

.product__pic{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 10px;
    object-fit: cover;
}
