// .phone-input {
//     padding: 20px;
// }

.react-tel-input .phone-input{
    padding: 50px;
}

.special-label .form-control{
    background-color: rgb(98, 0, 255) !important;
}

.flag-dropdown {
    background-color: transparent !important;
    border: none !important;
}
.selected-flag{
background-color: transparent  !important;
}
.phone-input .form-control{
    // background-color: olive !important;
    // padding-left: 40px !important;
    padding: 0px 50px !important;
    width: 100% !important;
    height: 50px !important;

}